# Assignment 3 â€“ Python List Comprehensions - Thomas Ashwin Varghese

### 1.Write a function named odd_or_zero which takes one parameter, a number, and returns that number if it is odd or returns 0 if the number is even. Then using a list comprehension which iterates over a list and calls your odd or zero function for each value.

In [1]:
def odd_or_zero(number):
    return 0 if number % 2 == 0 else number

number_list = [1,2,3,4,5,6]
print(f"The number list provided : {number_list}")

print("A function named odd_or_zero which takes one parameter, a number, \nand returns that number if it is odd or returns 0 if the number is even, was created.")

print("When running the function over the list, the following is the result : ")

for number in number_list:
    print(odd_or_zero(number))

The number list provided : [1, 2, 3, 4, 5, 6]
A function named odd_or_zero which takes one parameter, a number,
and returns that number if it is odd or returns 0 if the number is even, was created.
When running the function over the list, the following is the result :
1
0
3
0
5
0

### 2.Write a list comprehension that builds a list containing only even numbers over 100.

In [2]:
print("The following is a list comprehension to build a list that contains even numbers over 100 : ")
numbers_list = [number for number in range(0,201) if number % 2 ==0 and number > 100]
print(numbers_list)

The following is a list comprehension to build a list that contains even numbers over 100 :
[102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

### 3.Use list comprehension to make a list of the first letter of each word in the following list: wordList = ["this", "is", "an", "example"]

In [3]:
wordList = ["this", "is", "an", "example"]

print(f"The following is a word list :\n{wordList} ")


new_list = [word[0] for word in wordList]
print(f"The following is a list comprehension to build a list of the first characters of the word list into a new list :\n{new_list} ")

The following is a word list :
['this', 'is', 'an', 'example']
The following is a list comprehension to build a list of the first characters of the word list into a new list :
['t', 'i', 'a', 'e']

### 4.Write a list comprehension that returns the list ["1**2=1", "2**2=4", "3**2=9", ...., "25**2=625"]

In [4]:
square_list = [f'{number} ** 2 = {number ** 2}\n' for number in range(1,26) ]
formatted_list = ''.join(square_list)
print(f"The following is the list comprehension that returns a list of squares :\n{formatted_list}")

The following is the list comprehension that returns a list of squares :
1 ** 2 = 1
2 ** 2 = 4
3 ** 2 = 9
4 ** 2 = 16
5 ** 2 = 25
6 ** 2 = 36
7 ** 2 = 49
8 ** 2 = 64
9 ** 2 = 81
10 ** 2 = 100
11 ** 2 = 121
12 ** 2 = 144
13 ** 2 = 169
14 ** 2 = 196
15 ** 2 = 225
16 ** 2 = 256
17 ** 2 = 289
18 ** 2 = 324
19 ** 2 = 361
20 ** 2 = 400
21 ** 2 = 441
22 ** 2 = 484
23 ** 2 = 529
24 ** 2 = 576
25 ** 2 = 625

### 5.Consider a list of full names formatted "Firstname Lastname", like ["Jules Verne", "Alexandre Dumas", "Maurice Druon"]. Write a list comprehension that produces a list with the full names in the format "Lastname, Firstname". The resulting list should look like ['Verne, Jules', 'Dumas, Alexandre', 'Druon, Maurice']

In [5]:
full_name = ["Jules Verne", "Alexandre Dumas", "Maurice Druon"]
print(f"The full name list is :\n{full_name}")

split_list = [name.split(" ") for name in full_name]
print(f"The split name list is :\n{split_list}")

lastname_firstname = [f"{name[1]},{name[0]}" for name in split_list ]
print(f"The list with last name first and first name last, is :\n{lastname_firstname}")

The full name list is :
['Jules Verne', 'Alexandre Dumas', 'Maurice Druon']
The split name list is :
[['Jules', 'Verne'], ['Alexandre', 'Dumas'], ['Maurice', 'Druon']]
The list with last name first and first name last, is :
['Verne,Jules', 'Dumas,Alexandre', 'Druon,Maurice']

### 6.Consider a list below. Each sublist contains three pieces of information about the library patrons at Saskatoon Public Library (SPL) - patron's name, the number of books they have borrowed throughout the last year, and a Boolean value indicating whether they are under 20.
### SPL_Patrons = [
### ['Kim Tremblay', 134, True],
### ['Emily Wilson', 42, False],
### ['Jessica Smith', 215, True],
### ['Alex Roy', 151, True],
### ['Sarah Khan', 105, False],
### ['Samuel Lee', 220, True],
### ['William Brown', 24, False],
### ['Ayesha Qureshi', 199, True],
### ['David Martin', 56, True],
### ['Ajeet Patel',69, False]
### ]
### (a)	Use a single list comprehension to create a list of the patron names who borrowed more than 100 books last year.
### (b)	Use a single list comprehension to create a list of the patron names who are not under 20.
### (c)	Suppose that a patron saves on average 11.95 dollars by borrowing a book instead of buying it. Use a single list comprehension to create a list of the amount saved for each patron.
### (d)	Use a single list comprehension to create a list of lists where each sub-list consists of a patron's name and the total amount he/she saved last year as in part (c)), but only include those patrons who are under 20.

In [6]:
SPL_Patrons = [
['Kim Tremblay', 134, True],
['Emily Wilson', 42, False],
['Jessica Smith', 215, True],
['Alex Roy', 151, True],
['Sarah Khan', 105, False],
['Samuel Lee', 220, True],
['William Brown', 24, False],
['Ayesha Qureshi', 199, True],
['David Martin', 56, True],
['Ajeet Patel',69, False]
]

print(f"The following is the patrons list :\n{SPL_Patrons}")

borrowed_100_or_more = [entry for entry in SPL_Patrons if entry[1] > 100]
borrowed_100_or_more1 = "\n".join([str(entry) for entry in borrowed_100_or_more])
print(" ")

over_twenty = [entry for entry in SPL_Patrons if entry[2] == False]
over_twenty1 = "\n".join([str(entry) for entry in over_twenty])
print(f"The following is a list of the patron names who have borrowed over 20 books :\n{over_twenty1}")
print(" ")

amount_saved = [f"{entry[0]} saved {round((entry[1] * 11.95),2)} dollars." for entry in SPL_Patrons]
amount_saved1 = "\n".join([str(entry) for entry in amount_saved])
print(f"The following is a list of the amount saved for each patron, assuming 11.95 per book :\n{amount_saved1}")
print(" ")

amount_saved_by_frequent_book_returners = [f"Patron name : {entry[0]} , Amount saved : {round((entry[1] * 11.95),2)} dollars." for entry in SPL_Patrons if entry[2] == True]
amount_saved_by_frequent_book_returners1 = "\n".join([str(entry) for entry in amount_saved_by_frequent_book_returners])
print(f"The following is a list of the amount saved for each patron, assuming 11.95 per book and the books they borrowed were under twenty :\n{amount_saved_by_frequent_book_returners1}")

The following is the patrons list :
[['Kim Tremblay', 134, True], ['Emily Wilson', 42, False], ['Jessica Smith', 215, True], ['Alex Roy', 151, True], ['Sarah Khan', 105, False], ['Samuel Lee', 220, True], ['William Brown', 24, False], ['Ayesha Qureshi', 199, True], ['David Martin', 56, True], ['Ajeet Patel', 69, False]]

The following is a list of the patron names who have borrowed over 20 books :
['Emily Wilson', 42, False]
['Sarah Khan', 105, False]
['William Brown', 24, False]
['Ajeet Patel', 69, False]

The following is a list of the amount saved for each patron, assuming 11.95 per book :
Kim Tremblay saved 1601.3 dollars.
Emily Wilson saved 501.9 dollars.
Jessica Smith saved 2569.25 dollars.
Alex Roy saved 1804.45 dollars.
Sarah Khan saved 1254.75 dollars.
Samuel Lee saved 2629.0 dollars.
William Brown saved 286.8 dollars.
Ayesha Qureshi saved 2378.05 dollars.
David Martin saved 669.2 dollars.
Ajeet Patel saved 824.55 dollars.

The following is a list of the amount saved for each patron, assuming 11.95 per book and the books they borrowed were under twenty :
Patron name : Kim Tremblay , Amount saved : 1601.3 dollars.
Patron name : Jessica Smith , Amount saved : 2569.25 dollars.
Patron name : Alex Roy , Amount saved : 1804.45 dollars.
Patron name : Samuel Lee , Amount saved : 2629.0 dollars.
Patron name : Ayesha Qureshi , Amount saved : 2378.05 dollars.
Patron name : David Martin , Amount saved : 669.2 dollars.

### 7.A string is given:msg = "happy birthday!"Write a list comprehension that prints a list ['h', 'a', 'p', 'p', 'y', 'b', 'i', 'r', 't', 'h', 'd', 'a', 'y']. Do not print out the space or the !.

In [7]:
msg = "happy birthday!"
print(f"The message entered :\n{msg}")

msg_list = [character for character in msg if character != " " and character != "!"]
print(f"The message list without space or ! :\n{msg_list}")

The message entered :
happy birthday!
The message list without space or ! :
['h', 'a', 'p', 'p', 'y', 'b', 'i', 'r', 't', 'h', 'd', 'a', 'y']

### 8.Write a Python program to triple all numbers in a given list of integers. Use Python map.

In [8]:
numbers = [1,2,3,4,5,6,7,9,10]
print(f"The numbers list :\n{numbers}")

triple_numbers = list(map(lambda x : x *3,numbers))
print(f"The numbers list when each number is tripled :\n{triple_numbers}")

The numbers list :
[1, 2, 3, 4, 5, 6, 7, 9, 10]
The numbers list when each number is tripled :
[3, 6, 9, 12, 15, 18, 21, 27, 30]

### 9.Write a Python program to add three given lists using Python map and lambda.

In [9]:
list1 = [1,2,3,4,5]
print(f"The following is the first list :\n{list1}")
list2 = [6,7,8,9,10]
print(f"The following is the second list :\n{list2}")
list3 = [11,12,13,14,15]
print(f"The following is the third list :\n{list3}")


result_list = list(map(lambda x,y,z:x+y+z,list1,list2,list3))
print(f"The following is the resultant list, which comprises the addition of the first 3 lists :\n{result_list}")

The following is the first list :
[1, 2, 3, 4, 5]
The following is the second list :
[6, 7, 8, 9, 10]
The following is the third list :
[11, 12, 13, 14, 15]
The following is the resultant list, which comprises the addition of the first 3 lists :
[18, 21, 24, 27, 30]

### 10.Write a Python program to add two given lists and find the difference between them. Use the map() function.

In [10]:
list1 = [1,2,3,4,5]
print(f"The following is the first list :\n{list1}")
list2 = [6,7,8,9,10]
print(f"The following is the second list :\n{list2}")

add_result_list = list(map(lambda x,y:x+y,list1,list2))
print(f"The following is the resultant list, which comprises the addition of the first 2 lists :\n{add_result_list}")

sub_result_list = list(map(lambda x,y:x-y,list1,list2))
print(f"The following is the resultant list, which comprises the subtraction of the first 2 lists :\n{sub_result_list}")

The following is the first list :
[1, 2, 3, 4, 5]
The following is the second list :
[6, 7, 8, 9, 10]
The following is the resultant list, which comprises the addition of the first 2 lists :
[7, 9, 11, 13, 15]
The following is the resultant list, which comprises the subtraction of the first 2 lists :
[-5, -5, -5, -5, -5]

### 11.Write a Python program to create a new list taking specific elements from a tuple and convert a string value to an integer.
### student_data  = [('Alberto Franco','15/05/2002','35kg'), ('Gino Mcneill','17/05/2002','37kg'), ('Ryan Parkes','16/02/1999', '39kg'), ('Eesha Hinton','25/09/1998', '35kg')]

### Output should be like:
### Student name:
### ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton']
### Student name:
### ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998']
### Student weight:
### [35, 37, 39, 35]

In [11]:
student_data = [('Alberto Franco', '15/05/2002', '35kg'),
                ('Gino Mcneill', '17/05/2002', '37kg'),
                ('Ryan Parkes', '16/02/1999', '39kg'),
                ('Eesha Hinton', '25/09/1998', '35kg')]

print(f"Student data :\n{student_data}")

student_name = [name[0] for name in student_data]
print(f"Student name :\n{student_name}")

date = [name[1] for name in student_data]
print(f"Student DOB :\n{date}")

weight = [name[2][:2] for name in student_data]
print(f"Student weight :\n{weight}")

Student data :
[('Alberto Franco', '15/05/2002', '35kg'), ('Gino Mcneill', '17/05/2002', '37kg'), ('Ryan Parkes', '16/02/1999', '39kg'), ('Eesha Hinton', '25/09/1998', '35kg')]
Student name :
['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton']
Student DOB :
['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998']
Student weight :
['35', '37', '39', '35']

### 12.Convert the list to float and int ["12.3", "3.3", "-15.2"]

In [12]:
number_list = ["12.3", "3.3", "-15.2"]
print(f"The following is the given number list :\n{number_list}")

int_list = [int(float(number)) for number in number_list]
print(f"The following is the given number list converted to integer form :\n{int_list}")

float_list = [float(number) for number in number_list]
print(f"The following is the given number list converted to float form :\n{float_list}")

The following is the given number list :
['12.3', '3.3', '-15.2']
The following is the given number list converted to integer form :
[12, 3, -15]
The following is the given number list converted to float form :
[12.3, 3.3, -15.2]