# <center>Knowledge Test 3</center>

## <center>Prepared by : Thomas Ashwin Varghese</center>

In [1]:
from functools import reduce # for problem 4

1.Filter out all odd numbers using filter() and lambda function. The list is [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [2]:
#Given below is the number list
number_list = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
print("The original number list :",number_list)

print()

#Given below is the odd list.
#The lambda function is created as a filter and the number list is send through it.
odd_list = filter(lambda x: x%2 != 0,number_list)

#Two ways to print : 
# a) Iterate over filter
print("Printing the odd numbers from the list by iterating over the odd_list:")
for number in odd_list:
    print(number)

print()
    
#b) Convert the odd_list object to list and print it

#Note: 
#Once the filter function is iterated over, it returns an empty list.
#For this reason, the code is run again.

odd_list = filter(lambda x: x%2 != 0,number_list)
odd_list = list(odd_list)

print("Printing the odd numbers from the list by converting filter to list and then printing list:")
print(odd_list)

The original number list : [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

Printing the odd numbers from the list by iterating over the odd_list:
5
7
97
77
23
73
61

Printing the odd numbers from the list by converting filter to list and then printing list:
[5, 7, 97, 77, 23, 73, 61]

2.Filter all people aged more than 18, using lambda and filter() function
ages = [13, 90, 17, 59, 21, 60, 5]

In [3]:
# Given below is the ages list
ages = [13, 90, 17, 59, 21, 60, 5]
print("The original age list :", ages)

print()

# Given below is the odd list.
# The lambda function is created as a filter and the number list is send through it.
above_18_list = filter(lambda x: x > 18, ages)

# Two ways to print :
# a) Iterate over filter
print("Printing the age numbers that are 18 and up,from the list by iterating over the above_18_list:")
for number in above_18_list:
    print(number)

print()

# b) Convert the above_18_list object to list and print it

# Note:
# Once the filter function is iterated over, it returns an empty list.
# For this reason, the code is run again.

above_18_list = filter(lambda x: x % 2 != 0, ages)
above_18_list = list(above_18_list)

print("Printing the odd numbers from the list by converting filter to list and then printing list:")
print(above_18_list)

The original age list : [13, 90, 17, 59, 21, 60, 5]

Printing the age numbers that are 18 and up,from the list by iterating over the above_18_list:
90
59
21
60

Printing the odd numbers from the list by converting filter to list and then printing list:
[13, 17, 59, 21, 5]

3.Multiply all elements of a list by 2 using lambda and map()

In [4]:
user_list = [1,2,3,4,"hello","how","are you?"]
print('The following is the user list :',user_list)

print()

multiply_by_two = map(lambda x : x* 2,user_list)
# Two ways to print :
# a) Iterate over filter
print("Printing the list element in user list after multiplying it twice,from the list by iterating over the multiply_by_two:")
for item in multiply_by_two:
    print(item)

print()

# b) Convert the multiply_by_two object to list and print it

multiply_by_two = list(map(lambda x : x* 2,user_list))

print("Printing the odd numbers from the list by converting map to list and then printing list:")
print(multiply_by_two)

The following is the user list : [1, 2, 3, 4, 'hello', 'how', 'are you?']

Printing the list element in user list after multiplying it twice,from the list by iterating over the multiply_by_two:
2
4
6
8
hellohello
howhow
are you?are you?

Printing the odd numbers from the list by converting map to list and then printing list:
[2, 4, 6, 8, 'hellohello', 'howhow', 'are you?are you?']

4.The sum of all elements in a list using lambda and reduce()

In [5]:
#Note : Imported the reduce function at the start of the notebook 
user_list = [1,2,3,4,"hello","how","are you?"]
print('The following is the user list :',user_list)

print()

#The below list is to filter numeric values from the user list.
numeric_values = []

#If the item in user list is of float or integer type, it gets appended to the numeric values list.
for item in user_list:
    if (type(item) == float) or (type(item) == int):
        numeric_values.append(item)
        
print('The following is the numeric values list, which is a subset of the user list :',numeric_values)

print()

#The numeric sum is deduced using the lambda function to add two values, x and y.
#This is run over the list numeric_values and reduced to a single number, using the number function
numeric_sum = reduce(lambda x, y: x + y, numeric_values)

print('The following is the numeric sum of the values stored in numeric_values list :',numeric_sum)

The following is the user list : [1, 2, 3, 4, 'hello', 'how', 'are you?']

The following is the numeric values list, which is a subset of the user list : [1, 2, 3, 4]

The following is the numeric sum of the values stored in numeric_values list : 10

5.Find the maximum element in a list using lambda and reduce()

In [8]:
#Note : Imported the reduce function at the start of the notebook 
user_list = [1,2,3,4,"hello","how","are you?"]
print('The following is the user list :',user_list)

print()

#The below list is to filter numeric values from the user list.
numeric_values = []

#If the item in user list is of float or integer type, it gets appended to the numeric values list.
for item in user_list:
    if (type(item) == float) or (type(item) == int):
        numeric_values.append(item)
        
print('The following is the numeric values list, which is a subset of the user list :',numeric_values)

print()

#The following lambda returns x if x is greater than y and y is y is greater than x.
#Regardless of x or y returned on the first iteration, the returned value becomes the new x.
#This new x is compared with the new y which is the next item on the list.
largest = reduce(lambda x,y: x if x> y else y , numeric_values)

print('The following is the largest number from the above numeric values list :',largest)

The following is the user list : [1, 2, 3, 4, 'hello', 'how', 'are you?']

The following is the numeric values list, which is a subset of the user list : [1, 2, 3, 4]

The following is the largest number from the above numeric values list : 4

6.Write a program that reads the sentence and gives the output as the length of each word in a sentence in the form of a list.

sentence = 'I am learning Python programming with BusyQA'

In [16]:
sentence = 'I am learning Python programming with BusyQA'
print('The following is the sentence :',sentence)
print()

#Splitting the sentence based on the space character and making it into a list
word_list = sentence.split()

print('The following is the list of words from the sentence above :', word_list)
print()

#Creating a new empty list to store the sizes of each of the words
word_length_list = []

#Storing the sizes of each of the words of the sentence
for word in word_list:
    word_length_list.append(len(word))

print('The following is the length of the list of words from the sentence above, given in the form of a list :', word_length_list)

The following is the sentence : I am learning Python programming with BusyQA

The following is the list of words from the sentence above : ['I', 'am', 'learning', 'Python', 'programming', 'with', 'BusyQA']

The following is the length of the list of words from the sentence above, given in the form of a list : [1, 2, 8, 6, 11, 4, 6]

7.Create a list of tuples with combined name,roll_no and marks

name = ["Manjeet", "Nikhil", "Shambhavi"]

roll_no = [4, 1, 3]

marks = [40, 50, 60]

8.Create a dictionary from the above 3 iterables.